.bg_element {
    background-color: rgb(242,242,242);
}
.logo_section img {
    width: 100px;
}
.Fedex_menu {
    float: right;
}
.Fedex_banner {
    height: 400px;
}
.Fedex_banner img {
    height: 400px;
}